@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: grey;
  color: #fff;
}